body{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: astonpoliz;
    src: url(../fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: extrabold;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: old;
    src: url(../fonts/static/Inter-ExtraBold.ttf);
}
*{
    list-style: none;
    text-decoration: none;
    font-family: astonpoliz;
    font-size: 20px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 50px;
    /* color: #F6F4F3; */
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    background:#fff;
}
header a{
    color: hsl(236, 13%, 42%);
}
header .logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 600;
}
.logo span{
    font-family: old;
    font-weight: 800;
    font-size: 40px;
}
.link-toggle{
    display: none;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 0;
    background: hsl(36, 100%, 99%);
}
.link-toggle ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
}
.img-2{
    display: none;
}
.link-toggle ul li a{
    padding: 10px;
} 
a:focus{
    color:hsl(5, 85%, 63%);
}
.menu-open{
    position: absolute;
    top: -100px;
    cursor: pointer;
}
.menu-toogle{
    display: flex;
}
.menu-close{
    z-index: 2;
    
    position: absolute;
    top: -100px;
    cursor: pointer;
    display: none;
}
.navbar{
    position: absolute;
    right: 10px;
    padding: 15px 0; 
}
/* mettre les navbar cote à cote */
.navbar .link{
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 20px;
}
.navbar .link span{
    margin-left: 30px;
    position: relative;
}
.navbar .link a{
    padding: 10px; 
}

.container{
    width: 100%;
    padding:0 40px;
}
.container-item-1{
    width: 100%;
    display: flex;
    
    
}
.left,.right{
    /* height: 550px; */
    padding: 0 15px;
    margin-bottom: 50px;
    padding-bottom: 0;
}
.left{
    width: 75%;
    margin-bottom: 10px;
    /* padding: 10px; */
}
.container-left-1{
    width: 100%;
}
.container-left-1 .img-1 {
    width: 100%;
}
.container-left-1 .img-1 img{
    width: 100%;
}
.container-left-2{
    display: flex;
   
}
.container-left-2-left,.container-left-2-right{
    width: 50%;
}
.container-left-2-left{
    margin-right: 25px;
}
.container-left-2-left span{
    font-size: 50px;
    font-weight: 600;
  
}
.bouton{
    background: hsl(5, 85%, 63%);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.bouton:hover{
    background:  hsl(240, 100%, 5%);
    color: hsl(5, 85%, 63%);
}
.container-left-2-right p{
    font-size: 15px;
    margin-bottom: 50px;
    /* text-align: end; */
}
.right{
    width: 28%;
    padding-top: 10px ;
    background:  hsl(240, 100%, 5%);
    color: #fff;
    padding-bottom:-50px ;
}

.item-right span{
    font-size: 15px;
}
.item-right-1 h1{
    font-size: 30px;
    color: hsl(35, 77%, 62%);
}
.item-right-2{
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    margin-top: 10px;
 
    padding:20px 0 ;
}
.container-item-2{
    display: flex;
    width: 100%;
    /* justify-content: space-between;  */
    /* padding: 0 40px; */
}
.container-item-2 h3{
    font-size: 15px;
}
.container-item-2-left{
    width: 72%;
    display: flex;
    padding: 0 10px;
}
.container-left-2{
    margin: 20px 0;
}
.container-item-2-left .container-item-2-1{
    width: 50%;
    margin: 20px 0;
}
.container-item-2-right .container-item-2-1{
    /* width: 50%; */
    margin: 20px 0;
}
.container-item-2-right{
    width: 28%;
    padding: 0 10px;
}
.container-item-2-1{
    display: flex;
    padding-right: 10px;
    /* margin: 0 20px; */
    /* width: 40%; */
}
.container-item-2-1 h1{
    margin-top: -4px;
}
.item-img{
    margin-right: 10px;
}
.item-img img{
    width: 100px;
    height: 100%;
}
.item-text h1{
    color: hsl(233, 8%, 79%);
    font-size: 40px;
}
.item-text span{
    font-size: 15px;
    width: 100%;
}

@media only screen and (max-width:375px){
    .img-1{
        display: none;
    }
    .img-2{
        display: block;
        width: 100%;
    }
    .img-2 img{
        
        width: 100%;
    }
    .navbar .link{
        display: none;
    }
    .container-item-1{
        display: flex;
        flex-direction: column;
    }
    .left,.right{
        width: 100%;
    }
    .container-left-2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        /* display: none; */
    }
  
.container-left-2-left,.container-left-2-right{
        width: 100%;
    }
    .left{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-item-2{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: space-between;  */
        /* padding: 0 40px; */
    }
    .container-item-2-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    .container-item-2-right{
        width: 100%;
    }
    .container-item-2-left .container-item-2-1{
        width: 100%;
        margin: 20px 0;
    }
    .menu-open{
        top: 15px;
        right: 40px;
    }
    .menu-close{
        top: 15px;
        right: 40px;
    }
}